<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/global/css/app.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/global/js/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link href="~/Content/layouts/css/font.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/global/js/plugins/material-design-icons/css/material-design-iconic-font.min.css" />
    @*<link href="~/Content/global/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/global/js/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/global/js/plugins/select2/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layouts/css/theme.css" rel="stylesheet" />
    @*留出位置放置样式*@
    @RenderSection("Styles", false)

</head>
<body style="padding:0 10px">
    @RenderBody()
    @*防伪标志*@
    @Html.AntiForgeryToken()
    @*留出位置放置脚本*@
    <script src="~/Content/global/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/global/js/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/global/js/app.min.js" type="text/javascript"></script>
    <script src="~/Content/global/js/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/global/js/plugins/select2/select2.min.js"></script>
    <script src="~/Content/global/js/plugins/select2/i18n/zh-CN.js"></script>
    <script src="~/Content/global/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Content/layouts/scripts/IsMatch.js"></script>
    <script src="~/Content/layouts/scripts/ViewModel.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $(function () {
            App.init();
        });
    </script>
</body>
</html>
