<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/layouts/css/font.css" rel="stylesheet" />
    <link href="~/Content/global/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layouts/css/theme.css" rel="stylesheet" />
    <link href="~/Content/layouts/css/ui.css" rel="stylesheet" />
    @*留出位置放置样式*@
    @RenderSection("Styles", false)

</head>
<body>
    @RenderBody()
    @if (DbRunTimeModule.Enable)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(DbRunTimeModule.GetInfo())
            </div>
        </div>
    }
    @*防伪标志*@
    @Html.AntiForgeryToken()
    @*留出位置放置脚本*@
    <script src="~/Content/global/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/global/js/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/layouts/scripts/IsMatch.js"></script>
    <script src="~/Content/layouts/scripts/ViewModel.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
